.bg-azulEscuro{
    background-color: #6Baad7;
}

.bg-azulClaro{
    background-color: #b7cfe3;
}

.bg-amarelo{
    background-color: #edb106;
}

.bg-laranja{
    background-color: #c48007;
}

.bg-marrom{
    background-color: #2c1b07;
}

#sair{
    margin-left: 1rem;
   
}
