.bg-azulEscuro {
    background-color: #6Baad7;
}

.bg-azulClaro {
    background-color: #b7cfe3;
}

.bg-amarelo {
    background-color: #edb106;
}

.bg-laranja {
    background-color: #c48007;
}

.bg-marrom {
    background-color: #2c1b07;
}

#sair {
    margin-left: 1rem;

}

.text-azulEscuro {
    color: #6Baad7;
}

.text-azulClaro {
    color: #b7cfe3;
}

.text-amarelo {
    color: #edb106;
}

.text-laranja {
    color: #c48007;
}

.text-marrom {
    color: #2c1b07;
}

.text-braco {
    color: white;
}

.azulEscuro {
    background-color: #6Baad7;
}

.azulClaro {
    background-color: #b7cfe3;
}

.amarelo {
    background-color: #edb106;
}

.laranja {
    background-color: #c48007;
}

.marrom {
    background-color: #2c1b07;
}

.braco {
    background-color: white;
}